p::first-letter {
    float: left;
    font-size: 55px;
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 4px;
    line-height: 0.85;
    color: crimson;
  }

  @media screen and (max-width: 400px) {
    footer {
       display: none;
    }
 }

 #map {
   height: 400px;
   /* The height is 400 pixels */
   width: 100%;
   /* The width is the width of the web page */
 }